# Server Configuration
PORT=5002
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb+srv://mohitkumar:1WV0g2CIRzWI8U8X@cluster1.0ih7ekv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1


# JWT Configuration
JWT_SECRET=house-price-properties-jwt-secret-key-2024-change-in-production

# Email Configuration
EMAIL_USER=mk581991@gmail.com
EMAIL_PASS=etso zmha jrgq awbu

# CORS Configuration (for production)
ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com 